html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
body {
    font-family: 'League Spartan', sans-serif;
}

.header-container {
    display: flex;
    width: 1440px;
    padding-top: 104px;
    padding-left: 133px;
    padding-right: 133px;
    padding-bottom: 168px;
    background-color: #F8F8F8;

}

.header-title {
  margin-bottom: 53px;
  font-size: 24px;
  line-height: 45px;
  font-weight: 300;
}

.header-subtitle {
  margin-bottom: 43px;
  font-size: 250px;
  line-height: 230px;
}

.header-description {
  margin-bottom: 61px;
  font-size: 32px;
  line-height: 50px;
}

.buy-wrapper {
  display: flex;
}

.buy-link {
  display: block;
  width: 278px;
  height: 82px;
  background-color: #161515;
  color: #ffffff;
  text-decoration: none;
  font-size: 32px;
  line-height: 82px;
  text-align: center;
}

.price {
  width: 143px;
  height: 82px;
  background-color: #FFFFFF;
  color: #272727;
  text-decoration: none;
  font-size: 32px;
  line-height: 82px;
  text-align: center;
}

.header-img {
  display: block; 
  width: 500px;
  margin-top: -104px;
  margin-left: 90px;
}

.popular-title {
  margin-top: 43px;
  text-align: center;
  font-size: 24px;
  line-height: 45px;
}

.models-title {
  text-align: center;
  font-size: 72px;
  line-height: 81px;
  font-weight: 400;
  margin-bottom: 84px;
}

.item-wrapper {
  margin: 0 auto;
  width: 417px;
  margin-bottom: 85px;
}
.item-img-wrapper {
  display: flex;
  align-items: center; 
  justify-content: center;
  width: 417px;
  height: 630px;
  background-color: #f8f8f8;
  margin-bottom: 67px;
}

.item-title {
  text-align: center;
  font-size: 32px;
  line-height: 30px;
  margin-bottom: 17px;
}

.item-description {
  font-size: 32px;
  line-height: 30px;
  font-weight: 300;
  text-align: center;

}

.product-description-wrapper {
  margin: 0 auto; 
  width: 417px;
  margin-bottom: 85px;
  margin-top: 100px;
}

.product-description-title {
  text-align: center;
  font-size: 32px;
  line-height: 60px;
  margin-bottom: 58px;
  font-weight: 400;
}

.product-description {
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  font-weight: 300;
}

.product-description-link {
  color: #BB8B5D;
}